body {
    background: thistle;
}

.green {  
    background-color: rgb(166, 240, 166);
}

.blue {
    background-color: rgb(178, 211, 245);
}

.pink {
    background-color: pink;
}

.purple {
    background-color: rgb(197, 107, 197);
}

.green, .blue, .pink, .purple {
    height: 100px;
    width: 100px;
    text-align: center;
}